<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="profile-content">
            <h1>Welcome, {{ username | capitalize }}!</h1>

            <br>
            <p>Navigate to the dropdown menu to view the incubator </p>
            <p>data in real-time using different graphs.</p>
            <br>
        </div>
        <!-- Embedding Dash app -->
        <iframe src="/dash" style="width: 100%; height: 600px; border: none;"></iframe>

        <!-- Logout Button -->
        <div class="forms">
            <div class="form-content">
                <div class="button input-box">
                    <form action="/logout" method="post">
                        <div class="input-box">
                            <button type="submit">Logout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
